## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [8]:
numeros_enteros = {1, 2}

numero = 3  

print(numero)

3

2) Imprimir el tipo de dato de la variable 8.5

In [2]:
print (8.5)

8.5

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [10]:
print (type (numero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
mi_nombre = leandro

5) Crear una constante que contenga el número Pi

In [13]:
PI = 3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [14]:
print (type (PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [16]:
e= 2.71828
numero_redondo= round (e,4)
print (numero_redondo)

2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [17]:
a= "true"
b= True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [18]:
print (type (a))
print (type (b))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [19]:
suma= 2 + 3.5

11) Realizar una operación de suma de un número definido como string con un entero

In [22]:
string = "12"
entero= 5
string_entero = int (string)
suma = string_entero + entero
print (suma)

17

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [25]:
cubo= numero_redondo ** 3
print (cubo)

20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [31]:
cliente = input  ("ingrese un numero")
valor= int (cliente)
multipicacion = valor * 2
print (multipicacion)

6

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [36]:
cociente = 27/4
print (cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [37]:
cociente = 27//4
print (cociente)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [38]:
entero =27%4
print (entero)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [41]:

operando=4
#entero=3
#cociente=6
resultado = (operando + cociente) * entero - entero

print (resultado)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [42]:
compararar = (2 == "2")
print (compararar)

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [43]:
compararar = (2 == int("2"))
print (compararar)

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
porque "3.8" es un string

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
no esta permitido porque el primero es un entero y el segundo es un string
si fueran el mismo tipo arrojaria el mismo resultado

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [45]:
menu = ["MENU: 1-Pizza, 2-Empanadas, 3- Milanesas, 4-Salir"]
print (menu)

['MENU: 1-Pizza, 2-Empanadas, 3- Milanesas, 4-Salir']

23) Crear una lista que contenga los números del 1 al 10

In [46]:
lista = ["1","2","3","4","5","6","7","8","9","10"]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [60]:
lista = ["1","2","3","4","5","6","7","8","9","10"]
print (lista[8])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [59]:
lista = ["1","2","3","4","5","6","7","8","9","10"]
lista [2] = "leandro"
print (lista)

['1', '2', 'leandro', '4', '5', '6', '7', '8', '9', '10']

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [67]:
matriz =["A","B","C"], ["D","E","F"],["G","H","I"]

['A', 'B', 'C']
['D', 'E', 'F']
['G', 'H', 'I']

27) Imprimir la matriz creada en el punto 26

In [68]:
print (matriz[0])
print (matriz[1])
print (matriz[2])

['A', 'B', 'C']
['D', 'E', 'F']
['G', 'H', 'I']

28) Modificar la letra E de la matriz y colocar la letra Z

In [70]:
matriz [1][1] = "Z" 
print (matriz[0])
print (matriz[1])
print (matriz[2])

['A', 'B', 'C']
['D', 'Z', 'F']
['G', 'H', 'I']

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [71]:
matriz [0][0] = "1" 
matriz [0][1] = "2"
matriz [0][2] = "3"
print (matriz[0])
print (matriz[1])
print (matriz[2])

['1', '2', '3']
['D', 'Z', 'F']
['G', 'H', 'I']

30) Crear una tupla que contenga 5 marcas de ropa

In [ ]:
marcas= ("adidas","nike", "lacoste", "etiquetanegra","calvinklein")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [76]:
marcas= ("adidas","nike", "lacoste", "etiquetanegra","calvinklein")
print (marcas[0])

adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [78]:
marcas= ("adidas","nike", "lacoste", "etiquetanegra","calvinklein")

marcas[1]= "gucci"

porque las tuplas no se pueden modificar

TypeError: 'tuple' object does not support item assignment

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [81]:
diccionario = {
    "nombre": "Leandro",
    "apellido": "rodriguez",
    "edad": 40,
    "hobbies": ["musica","gimansia", "tv"]
}
print (diccionario)

{'nombre': 'Leandro', 'apellido': 'rodriguez', 'edad': 40, 'hobbies': ['musica', 'gimansia', 'tv']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [82]:
print (diccionario["hobbies"])

['musica', 'gimansia', 'tv']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [83]:
diccionario ["edad"]= 45
print (diccionario)

{'nombre': 'Leandro', 'apellido': 'rodriguez', 'edad': 45, 'hobbies': ['musica', 'gimansia', 'tv']}